# Goal: Examine annual spending of current customers to find Best ways of Implementing Customer Loyalty Program

__Problem__: Company is working on designing a customer loyalty program but CEO is unsure of the best way to proceed - the current thinking is a loyalty program that incentivizes customers to purchase across multiple offering categories (e.g., if a customer purchases from the grocery, frozen, and deli categories, they receive a discount).
We would like to examine annual spending by the companyâ€™s current customers to understand if such a program would be attractive to the largest subgroup of customers.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import dates
from datetime import datetime
import random
import mysql.connector as mysql
import pandasql as ps
from pandasql import *
import warnings
warnings.filterwarnings("ignore")

In [3]:
#read data

def ReadFromCSV(FilePath, sckipLines = 0, sep = ','):  

    xa = pd.read_csv(FilePath, header=sckipLines, sep = sep, low_memory=False, index_col=False)

    return xa

In [4]:
users=ReadFromCSV('/Users/mojganmazouchi/Desktop/Yammer/Insight_Datachallanges_2019/customer_loyalty/wholesale_data.csv') 

print(users.shape)  #(801, 9)

users.head()

(801, 9)

,Channel,Customer,Year,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,6048141,2017,12669,9656,7561,214,2674,1338
1,2,9336325,2017,7057,9810,9568,1762,3293,1776
2,2,6272942,2017,6353,8808,7684,2405,3516,7844
3,1,7856217,2017,13265,1196,4221,6404,507,1788
4,2,6179511,2017,22615,5410,7198,3915,1777,5185